* {
  /*background-color:#376E20;*/
  background-color: whitesmoke;
}

li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
